.cus-table {
  border-spacing: 0 0.85rem !important;
  border-collapse: unset;
}

.table .custom-border-btn {
  min-width: 130px;
  min-height: 45px;
  max-width: 130px;
}

.client-dtl h5 {
  color: #1A1041;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}

.table .dropdown {
  display: inline-block;
}

.table td, .table th {
  vertical-align: middle;
  border: none;
  color: rgb(26 16 65 / 60%);
  font-size: 14px;
  padding: 20px;
}
.table thead tr th {
  text-transform: uppercase;
  border: 0;
}
.cus-table thead tr, .cus-table thead th {
  padding: 10px 20px;
}
.invoice-table thead {
  background: #F3F2F5;
}
.table tbody tr {
  background: #fff;
  box-shadow: 6px 6px 50px #1a104105;
}
.invoice-table td {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.cus-table td:first-child, .invoice-table th:first-child, .cus-table td:last-child, .invoice-table td:last-child  {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.avatar {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
}

.cus-table tbody tr:nth-child(3n+1) .avatar {
  color: #FF0000;
  background: rgb(255 0 0 / 20%);
}

.cus-table tbody tr:nth-child(3n+2) .avatar {
  color: #3FA9F4;
  background: #D8EDFC;
}

.cus-table tbody tr:nth-child(3n+3) .avatar {
  color: #119326;
  background: rgb(17 147 38 / 15%);
}

.avatar-sm {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.83333rem;
  line-height: 1.5;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
  top: 28px;
  left: 14px;
  border: none;
  box-shadow: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
  padding-left: 48px;
}

table.dataTable>tbody>tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable>tbody>tr.child span.dtr-title {
  min-width: 50%;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child, table.dataTable.dtr-inline.collapsed>tbody>tr>th.child, table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
  padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    margin-top: 1rem;
  }
}

.btn-icon {
  background: #fff;
}

.btn-icon .bx {
  font-size: 20px;
}

.btn .bx {
  vertical-align: middle;
  font-size: 20px;
}

.dropdown-menu {
  padding: 0.25rem 0;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.badge {
  padding: 0.5em 0.75em;
}

.badge-success-alt {
  background-color: #d7f2c2;
  color: #7bd235;
}

.table a:hover, .table a:focus {
  text-decoration: none;
}

table.dataTable {
  margin-top: 12px !important;
}

.icon>.bx {
  display: block;
  min-width: 1.5em;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.0625rem;
}

.avatar-blue {
  background-color: #c8d9f1;
  color: #467fcf;
}

.avatar-pink {
  background-color: #fcd3e1;
  color: #f66d9b;
}