.error{
    color: red;
}
.nav-bg{
    background-color:#2962ff;
}
.navbar-expand-lg .navbar-nav {
    flex-direction:row;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: white;
    background-color: #198754;
}